<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Assistant Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <img src="{{ url_for('static', filename='saba.png') }}" alt="saba" id="openChatBtn">
    <div id="chatPopup" class="chat-popup">
        <div class="chat-header">
            <span class="closeBtn" id="closeChatBtn">&times;</span>
            <ul class="i">
                <img src="{{ url_for('static', filename='saba.png') }}" alt="SABA" class='saba'>
            </ul>
        </div>
        <div class="chat-body" id="chat-body">
            <div class="chat-message bot">
                <!---<div class="avatar">B</div>-->
                <div class="message">Hello! How can I help you today?</div>
            </div>
        </div>
        <div class="chat-footer">
            <input type="text" id="user-input" placeholder="Type a message...">
            <button id="sendBtn"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
